body{
    margin: 0px;
    background: rgb(15, 16, 30);
    box-sizing: border-box;

}

form{
    background: #000;
    width: 70%;
    height: 50vh;
    margin: auto;
    margin-top: 25vh;
   text-align: center;
   border: 1px solid transparent;
    text-transform: uppercase;
    border-radius: 10px;
    border-top-right-radius: 0px;
    
    
}


.title{
    margin-top: 2%;
    border: 1px solid transparent;
    
}
h3{
    color: rgb(239, 235, 235);
}
.num{
    
    width: 60%;
    height: 5vh;
    border:1px solid transparent ;
    font-weight: bolder;
    border-bottom: 2px solid rgb(31, 218, 31);
    background: rgb(29, 29, 29);
    margin-top: 1%;
    outline: none;
    color: white;
}

button{
    margin-top: 3vh;
    width: 60%;
    height: 6vh;
    text-transform: uppercase;
    background: transparent;
    color: rgb(31, 218, 31);
    font-size: large;
    border: 1px dashed rgb(31, 218, 31);

}
h4{
    margin: 0px;
    color: red;
}
h5{
    margin: 0px;
    color: white;
}
button:hover{
    
    border: 3px solid rgb(31, 218, 31);
}
.screen{
    border: 1px solid transparent;
    margin-top: 5px;
    color:   rgb(31, 218, 31);
    font-weight: bolder;
}

